.cardAuthority {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 10px;
}

.cardCont {
    width: 30%;
}

.cardCont p {
    font-weight: 600;
    color: var(--cor-on-primaria);
}

.cardCont p:first-of-type {
    font-size: 16px;
    padding: 0 0 5px 0;

}

.cardCont p:last-of-type {
    font-size: 14px;
}

@media (min-width: 1024px) {
    .cardAuthority div:nth-of-type(2) {
        border-left: 2px solid var(--cor-on-primaria);
        border-right: 2px solid var(--cor-on-primaria);
    }

    .cardAuthority {
        justify-content: space-between;
        margin: 25px 0;
    }

    .cardCont {
        padding: 10px 0;
        width: 33.33%;
    }

    .cardCont p:first-of-type {
        font-size: 28px;
        padding: 0 0 10px 0;
    }

    .cardCont p:last-of-type {
        font-size: 20px;
    }

    .cardCont img {
        width: 55px;
    }
}
