

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--cor-primaria);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 20vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homeLogo {
    width: 150px;
}

.homeLogo svg {
    height: 100%;
    width: auto;
}

.menuButton {
    color: var(--cor-on-primaria);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 90;
}

.menuOverlay.menuOpen {
    opacity: 1;
    visibility: visible;
}

.sideMenu {
    position: fixed;
    top: 20vh;
    right: 0;
    height: 100%;
    width: 16rem;
    background-color: var(--cor-default);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 95;
    padding: 2rem 1.5rem;
    overflow-y: auto;
}

.sideMenu a {
    font-size: 1.2rem;
}

.sideMenu.menuOpen {
    transform: translateX(0);
}

.menuList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuItem {
    margin-bottom: 1.5rem;
}

.menuLink {
    display: block;
    color: var(--cor-on-background);
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.menuLink:hover {
    color: var(--cor-primaria);
}

.instagram {
    background-color: var(--cor-primaria);
    border-radius: 50%;
    padding: 0.5rem;
    width: 18%;
}

.navbar, .instagramNavbarLink {
    display: none;
}

@media (min-width: 1250px) {

    .header {
        height: 15vh;
    }

    .menuButton, .menuOverlay, .sideMenu {
        display: none;
    }

    .instagramNavbarLink, .navbar {
        display: block;
    }

    .menuListDesktop {
        list-style-type: none;
        display: flex;
        gap: 2rem;
        margin-left: 15rem;
    }

    .navbarItem {
        font-size: 1.2rem;
    }

    .navbarLink {
        text-decoration: none;
        color: var(--cor-default);
        font-size: 1.1rem;
        padding: 0.3rem 0;
    }

    .instagramNavbarLink img {
        width: 40px;
    }

    .homeLogo {
        margin-left: 5rem;
        width: 200px;
    }

    .navbarLink {
        position: relative; /* Adicione isso */
    }

    .navbarLink:hover {
        text-shadow: 0 0 1px white;
    }

    .navbarLink::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: bottom;
        transition: transform 0.2s ease;
    }

    .navbarLink:hover::after {
        transform: scaleX(1);
    }


}


