.aboutMeSection {
    background-color: var(--cor-default);
    padding: 20px 20px 20px 20px;
}

.aboutMeSection div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.aboutMeSection p {
    margin: 15px 0;
    text-align: left;
    color: var(--cor-secundaria);
}

.imgArquiteto {
    background-image: url('/images/IMGAboutMeSectionMobile.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    margin: 20px 0;

}

@media (min-width: 1024px) {
    .aboutMeSection p {
        font-size: 20px;
        padding: 10px 0;
    }

    .aboutMeSection>div {
        display: flex;
        justify-content: space-between;
    }

    .aboutMeSection>div>div:nth-of-type(1) {
        width: 50%;
    }

    .aboutMeSection>div>div:nth-of-type(1)>div {
        margin: 60px 0px 40px 0;

    }


    /* .aboutMeSection>div>div:nth-of-type(2) */
    .imgArquiteto {
        height: 500px;
        width: 40%;
        background-image: url('/images/IMGAboutMeSectionDesktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 50px;
    }

}