.titles {
    padding: 20px 15px 10px 0px;
    font-size: 20px;
    color: var(--cor-secundaria);
    margin: 0;
}

.titles h2 {
    border-left: 7px solid var(--cor-on-background);
    padding: 2px 0 2px 8px;
}


@media (min-width: 1024px) {
    .titles {
        padding: 20px 0px;
        font-size: 21px;
        margin: 0;
    }
    
    .titles h2 {
        border-left: 8px solid var(--cor-on-background);
        padding: 3px 0 3px 10px;
    }
    
}
  